annotated-types==0.7.0
anyio==4.7.0
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
decorator==4.4.2
distro==1.9.0
elevenlabs==1.13.3
exceptiongroup==1.2.2
fastapi==0.115.6
gTTS==2.5.4
h11==0.14.0
httpcore==1.0.7
httpx==0.28.0
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
inflection==0.5.1
jiter==0.8.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
moviepy==1.0.3
numpy==2.1.3
openai==1.57.0
openapi==2.0.0
pillow==10.4.0
proglog==0.1.10
pydantic==2.10.3
pydantic_core==2.27.1
python-dotenv==1.0.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.22.3
sniffio==1.3.1
starlette==0.41.3
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.32.1
websockets==14.1
